<div class="tab-pane fade" id="nav-query" role="tabpanel" aria-labelledby="nav-query-tab">
    <form>
        <div class="row">
            <div class="col">
                {{ dbquery.key.label }}
                <div class="input-group mb-3">
                    {{ dbquery.key }}
                </div>
            </div>
            <div class="col">
                {{ dbquery.comparator.label }}
                <div class="input-group mb-3">
                    {{ dbquery.comparator }}
                </div>
            </div>
            <div class="col">
                {{ dbquery.value.label }}
                <div class="input-group mb-3">
                    {{ dbquery.value }}
                </div>
            </div>
        </div>
    </form>
</div>